.container {
  position: relative;
  min-width: 480px;
}

.sidebar {
  max-width: 320px;
  position: absolute;
  left: -380px;
}

.list {
  position: absolute;
  left: 0;
  min-width: 860px;
  max-height: 100%;
}

.list-item {
  width: 844px;
}