.container {
  position: absolute;
  right: 60px;
  top: 45px;
  display: flex;
  position: absolute;
  animation: .6s slide ease;
}

@keyframes slide {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    right: 60px;
    opacity: 1;
  }
}