.section {
  max-width: 600px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #f2f2f3;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;
  padding: 5px;
}

.hovered-container {
  padding: 3px;
  border: 2px solid #4c4cff73;
  border-radius: 40px;
}

.scrollable-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.dragable-container {
  display: flex;
  align-items: center;
}

.dragable-container > * {
  flex-shrink: 0;
}

.icon-container {
  width: 32px;
  line-height: 0;
}

.checkout {
  display: flex;
}

