.section {
  flex-grow: 1;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  color: #f2f2f3;
  animation: fade-in .1s ease-out;
}

.content {
  min-height: 0;
  display: flex;
  column-gap: 60px;
}

.list {
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 608px;
}

.list-item {
  min-width: 584px;
}

.summary {
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}