.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 52px;
}

.total-price {
  display: flex;
  align-items: center;
}

.total-price > svg {
  width: 36px;
  height: 36px;
}