.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  position: relative;
}

.price-tag {
  display: flex;
}

.ingridient-name {
  text-align: center;
  min-height: 48px;
}