.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 40px;
}

.link-active {
  color: #f2f2f3;
  pointer-events: none;
}

.link-text {
  transition: color .3s ease-in;
}

.link:hover .link-text,
.link:focus .link-text {
  color: #fff;
}

.link svg {
  transition: fill .3s ease-in;
}

.link:hover svg,
.link:focus svg {
  fill: #fff;
}