.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 0;
}

.container:hover {
  cursor: pointer;
}

.image {
  box-sizing: border-box;
  max-width: 240px;
}

.price-tag {
  display: flex;
}

.ingredient-name {
  text-align: center;
  min-height: 48px;
}